.pomo {
    &__wrapper {
      padding: 5vh 0px;
      gap: 5vh;
      width: 100vw;
      height: auto;
      background-color: #7daa87;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      &--start{
      background-color: #FE4A49;
      }
    }
  
    &__display {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #E6E6EA;
      flex-flow: column nowrap;
    }

    &__circular{
      font-size: 20 rem;
    }

    &__currentTaskName{
      display: flex;
      justify-content: center;
      max-width: 50%;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 2.5rem;
      overflow: hidden;
    }

    &__input{
      max-width: 50%;
      display: flex;
      flex-flow: column wrap;
      text-align: center;
      border-radius: 20px;

      &--start{
        display: none;
      }
      &--time{
        background-color: #E6E6EA;
        color: #4d7c57;
      }
      &--task{
        background-color: #E6E6EA;
        color: #4d7c57;
      }
      &::placeholder{
        color: #4d7c57;
      }
    }

    &__form{
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 10px;
      gap: 10px;
    }

    &__taskList{
      display: flex;
      justify-content: center;
      height: auto;
    }

    &__taskListUL{
      display: flex;
      flex-direction: column;
      padding: 0px 20px;
      margin: 0px;
      gap: 10px 0px;
    }

    &__taskListLI{
      list-style: none;
    }

    &__taskListItem{
      width: 100%;
      overflow: hidden;
      font-size: 1rem;
      font-weight: 500;
      align-items: center;
      padding: 0px 10px;
      gap:10px 10px;
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      &--radio{
        justify-content: center;
        flex-basis: 5%;
      }
      &--time{
        justify-content: center;
        flex-basis: 20%;
      }
      &--task{
        justify-content: center;
        flex-basis: 70%;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    
    &__btn {
      display: flex;
      flex-flow: row nowrap;
      font-size: 2rem;
      border-radius: 20px;
      gap: 0px 10px;
      
  
      @include mobile{
        font-size: 2.5rem;
        gap: 0px 20px;
      }

      &--start{
        box-shadow: 0px 0px 0px 5px 
        rgba($color: #000000, $alpha: 0.1)
        inset;
        color: #7daa87;
        background-color: #E6E6EA;
      }

      &--pause{
        background-color: red;
      }

      &--skip{
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: black;
        background-color: #FE4A49;
      }
      &--hide{
        display: none;
      }

      &--delBtn{
        font-size: 1rem;
        background-color: #E6E6EA;
        color: #7daa87;
        
      }

      &--addTask{
        font-size: 1rem;
        background-color:#4d7c57 ;
        color:#E6E6EA;
      }
    }
  };