.layout {
    &__wrapper {
      max-width: 100%;
      width: 100%;
      background-color: Black;
      display: flex;
      flex-flow: column;
    }
  
    &__main {
      width: 100%;
      max-width: 100%;
      flex-grow: 1;
      background-color: green;
    }
  }